# Virtual Environments and Request Module

In [1]:
import os
import sys
os.path.dirname(sys.executable)

'C:\\Users\\ogure\\anaconda3\\envs\\data_analysis'

In [2]:
# sending a request and logging the responce code

import requests

r = requests.get("https://api.github.com/users/Connor-SM")

print( r )
print( type( r ) )

<Response [200]>
<class 'requests.models.Response'>

In [4]:
# accessing the content that we requested from the URL
data = r.content
print(data)
print(type(data))

b'{"login":"Connor-SM","id":20958711,"node_id":"MDQ6VXNlcjIwOTU4NzEx","avatar_url":"https://avatars0.githubusercontent.com/u/20958711?v=4","gravatar_id":"","url":"https://api.github.com/users/Connor-SM","html_url":"https://github.com/Connor-SM","followers_url":"https://api.github.com/users/Connor-SM/followers","following_url":"https://api.github.com/users/Connor-SM/following{/other_user}","gists_url":"https://api.github.com/users/Connor-SM/gists{/gist_id}","starred_url":"https://api.github.com/users/Connor-SM/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Connor-SM/subscriptions","organizations_url":"https://api.github.com/users/Connor-SM/orgs","repos_url":"https://api.github.com/users/Connor-SM/repos","events_url":"https://api.github.com/users/Connor-SM/events{/privacy}","received_events_url":"https://api.github.com/users/Connor-SM/received_events","type":"User","site_admin":false,"name":"Connor Milliken","company":"HubSpot, Inc.","blog":"www.connormilliken.com","location":"Boston, MA","email":null,"hireable":null,"bio":"- Author of Python Projects for Beginners\\r\\n\\r\\n- Python Instructor\\r\\n\\r\\n- Adventurer/Traveler","twitter_username":null,"public_repos":51,"public_gists":0,"followers":54,"following":36,"created_at":"2016-08-10T22:39:46Z","updated_at":"2020-07-02T14:21:09Z"}'
<class 'bytes'>

In [12]:
# converting data from JSON into a Python dictionary and outputting all key-value pairs
data = r.json( ) # converting the data from a string to a dictionary
for k, v in data.items( ):
    print(f"Key: {k} \t\t\t Value: {v}")
print(data["name"]) # accessing data directly

Key: login 			 Value: Connor-SM
Key: id 			 Value: 20958711
Key: node_id 			 Value: MDQ6VXNlcjIwOTU4NzEx
Key: avatar_url 			 Value: https://avatars0.githubusercontent.com/u/20958711?v=4
Key: gravatar_id 			 Value:
Key: url 			 Value: https://api.github.com/users/Connor-SM
Key: html_url 			 Value: https://github.com/Connor-SM
Key: followers_url 			 Value: https://api.github.com/users/Connor-SM/followers
Key: following_url 			 Value: https://api.github.com/users/Connor-SM/following{/other_user}
Key: gists_url 			 Value: https://api.github.com/users/Connor-SM/gists{/gist_id}
Key: starred_url 			 Value: https://api.github.com/users/Connor-SM/starred{/owner}{/repo}
Key: subscriptions_url 			 Value: https://api.github.com/users/Connor-SM/subscriptions
Key: organizations_url 			 Value: https://api.github.com/users/Connor-SM/orgs
Key: repos_url 			 Value: https://api.github.com/users/Connor-SM/repos
Key: events_url 			 Value: https://api.github.com/users/Connor-SM/events{/privacy}
Key: received_events_url 			 Value: https://api.github.com/users/Connor-SM/received_events
Key: type 			 Value: User
Key: site_admin 			 Value: False
Key: name 			 Value: Connor Milliken
Key: company 			 Value: HubSpot, Inc.
Key: blog 			 Value: www.connormilliken.com
Key: location 			 Value: Boston, MA
Key: email 			 Value: None
Key: hireable 			 Value: None
Key: bio 			 Value: - Author of Python Projects for Beginners

- Python Instructor

- Adventurer/Traveler
Key: twitter_username 			 Value: None
Key: public_repos 			 Value: 51
Key: public_gists 			 Value: 0
Key: followers 			 Value: 54
Key: following 			 Value: 36
Key: created_at 			 Value: 2016-08-10T22:39:46Z
Key: updated_at 			 Value: 2020-07-02T14:21:09Z
Connor Milliken

In [15]:
# outputting specific key-value pairs from data
r = requests.get("https://api.github.com/search/repositories?q=language:python")
data = r.json( )
print(data["total_count"]) # output the total number of repositories that use python

5492973

## Pandas

In [3]:
# importing the pandas library
import pandas as pd

In [70]:
# using the from_dict method to convert a dictionary into a Pandas DataFrame
import random

random.seed(3)

names = ["Jess", "Jors", "JKL", "DAS", "Ted", "Barney", "Tyler"]
ages = [ random.randint(18, 35) for x in range(len(names)) ]

people = { "names" : names, "ages" : ages }

df = pd.DataFrame.from_dict(people)
print(df)

    names  ages
0    Jess    25
1    Jors    35
2     JKL    22
3     DAS    29
4     Ted    33
5  Barney    20
6   Tyler    18

In [5]:
# directly selecting a column in Pandas
print( df["ages"])
print( df["ages"][3])
# print( df[4] ) doesn't work, 4 is not a column name

0    25
1    35
2    22
3    29
4    33
5    20
6    18
Name: ages, dtype: int64
29

In [6]:
# directly selecting a record in Pandas using .loc
print( df.loc[0] )
print( df.loc[0]["names"] ) # selecting the value at record 0 in the "names" column

names    Jess
ages       25
Name: 0, dtype: object
Jess

In [7]:
# slicing a DataFrame to grab specific records
print( df[2:5] )

  names  ages
2   JKL    22
3   DAS    29
4   Ted    33

In [71]:
# accessing the top 5 records using .head( )
df.head(5)

  names  ages
0  Jess    25
1  Jors    35
2   JKL    22
3   DAS    29
4   Ted    33

In [9]:
# accessing the bottom 3 records using .tail( )
df.tail(3)

    names  ages
4     Ted    33
5  Barney    20
6   Tyler    18

In [11]:
# accessing the column headers (keys) using the .keys( ) method
headers = df.keys( )
print(headers)
print(type(headers))

Index(['names', 'ages'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [12]:
# checking the shape, which is the number of records and columns
print( df.shape )

(7, 2)

In [13]:
# checking the general statistics of the DataFrame using .describe( ), only works on numerical columns
df.describe( )

            ages
count   7.000000
mean   26.000000
std     6.531973
min    18.000000
25%    21.000000
50%    25.000000
75%    31.000000
max    35.000000

In [72]:
# sort based on a given column, but keep the DataFrame in tact using sort_values( )
df = df.sort_values("ages")
df.head(5)

    names  ages
6   Tyler    18
5  Barney    20
2     JKL    22
0    Jess    25
3     DAS    29

In [16]:
# using a conditional to create a true/false column to work with
can_drink = df["ages"] > 21
print(can_drink)

6    False
5    False
2     True
0     True
3     True
4     True
1     True
Name: ages, dtype: bool

In [73]:
# using subsetting to filter out records and keep DataFrame intact
df[ df["ages"] > 21 ]

  names  ages
2   JKL    22
0  Jess    25
3   DAS    29
4   Ted    33
1  Jors    35

In [20]:
df[ can_drink ]

  names  ages
2   JKL    22
0  Jess    25
3   DAS    29
4   Ted    33
1  Jors    35

In [74]:
# generating a new column of fake data for each record in the DataFrame to represent customer tenure
random.seed(321)
tenure = [ random.randint(0, 10) for x in range( len(df) )]
df["tenure"] = tenure # same as adding a new key-value pair in a dictionary
df.head( )

    names  ages  tenure
6   Tyler    18       4
5  Barney    20       6
2     JKL    22       2
0    Jess    25       5
3     DAS    29       8

In [75]:
# feature engineering a new column from known data using a UDF
def ageGroup(age):
    return "Teenager" if age < 21 else "Adult"
df["age_group"] = df["ages"].apply(ageGroup)
df.head(10)

    names  ages  tenure age_group
6   Tyler    18       4  Teenager
5  Barney    20       6  Teenager
2     JKL    22       2     Adult
0    Jess    25       5     Adult
3     DAS    29       8     Adult
4     Ted    33       7     Adult
1    Jors    35       5     Adult

In [34]:
# grouping the records together to count how many records in each group
df.groupby("age_group", as_index=False).count( ).head( )

  age_group  names  ages  tenure
0     Adult      5     5       5
1  Teenager      2     2       2

In [67]:
# grouping the data to see averages of all columns
df.groupby("age_group", as_index=False).mean( ).head( )

  age_group  ages  tenure
0     Adult  28.8     5.4
1  Teenager  19.0     5.0

In [68]:
# grouping information by their age group, then by their tenure
df.groupby( [ "age_group", "tenure" ], as_index=False).count( ).head(10)

  age_group  tenure  names  ages
0     Adult       2      1     1
1     Adult       5      2     2
2     Adult       7      1     1
3     Adult       8      1     1
4  Teenager       4      1     1
5  Teenager       6      1     1

In [76]:
# adding a record to the bottom of the DataFrame
df.loc[7] = [ "Jess", 25, 5, "Adult" ] # add a record
df.head(10)

    names  ages  tenure age_group
6   Tyler    18       4  Teenager
5  Barney    20       6  Teenager
2     JKL    22       2     Adult
0    Jess    25       5     Adult
3     DAS    29       8     Adult
4     Ted    33       7     Adult
1    Jors    35       5     Adult
7    Jess    25       5     Adult

In [77]:
# removing duplicates based on same names
df = df.drop_duplicates( subset="names" )
df.head(10)

    names  ages  tenure age_group
6   Tyler    18       4  Teenager
5  Barney    20       6  Teenager
2     JKL    22       2     Adult
0    Jess    25       5     Adult
3     DAS    29       8     Adult
4     Ted    33       7     Adult
1    Jors    35       5     Adult

In [78]:
# creating another fake DataFrame to work with, having same names and a new ratings column
ratings = {
    "names" : [ "Jess", "Tyler", "Ted" ],
    "ratings" : [ 10, 9, 6 ]
}
ratings = df.from_dict(ratings)
ratings.head( )

   names  ratings
0   Jess       10
1  Tyler        9
2    Ted        6

In [79]:
# performing an inner join with our df and ratings DataFrames based on names, get data that matches
matched_ratings = df.merge(ratings, on="names", how="inner")
matched_ratings.head( )

   names  ages  tenure age_group  ratings
0  Tyler    18       4  Teenager        9
1   Jess    25       5     Adult       10
2    Ted    33       7     Adult        6

In [82]:
# performing an outer join with our df and ratings DataFrames based on names, get all data
all_ratings = df.merge(ratings, on="names", how="outer")
all_ratings.head(10)

    names  ages  tenure age_group  ratings
0   Tyler    18       4  Teenager      9.0
1  Barney    20       6  Teenager      NaN
2     JKL    22       2     Adult      NaN
3    Jess    25       5     Adult     10.0
4     DAS    29       8     Adult      NaN
5     Ted    33       7     Adult      6.0
6    Jors    35       5     Adult      NaN

# TEST DS

In [84]:
import csv
space_df = pd.read_csv('space.csv')
space_df[:3]

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success

## Web Scraping

In [36]:
# importing the beautiful soup and requests library
from bs4 import BeautifulSoup
import requests

In [43]:
# performing a request and outputting the status code
page = requests.get("http://www.arthurleej.com/e-love.html")
print(page)

<Response [200]>

In [38]:
# outputting the request response content
print(page.content)

b'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\r<html>\r<head>\r\t<title>Essay on Love by Arthur Lee Jacobson</title>\r<meta name="description" content="Trees,gardening, wild and domestic plant life are the specialty of author Arthur Lee Jacobson.">\r<meta name="keywords" content="trees, gardening, wild plants, domestic plants, gardening author, gardening books, Arthur Lee Jacobson, A L J, A L Jacobson, Arthur Jacobson, arthur lee, plants, flowers, seattle, washington">\r<meta name="resource-type" content="document">\r<meta name="generator" content="BBEdit 4.5">\r<meta name="robots" content="all">\r<meta name="classification" content="Gardening">\r<meta name="distribution" content="global">\r<meta name="rating" content="general">\r<meta name="copyright" content="2001 Arthur Lee Jacobson">\r<meta name="author" content="eriktyme@eriktyme.com">\r<meta name="language" content="en-us">\r</head>\r<body background="images/background1a.jpg" bgcolor="#FFFFCC" text="#000000" link="#0000FF" alink="#33CC33" vlink="#FF00FF">\r<! -- #include virtual="/includes/header.html" -- >\r<br><center><table border="0" cellspacing="2" cellpadding="1">\r\t<tr>\r\t\t<td width="480" align="center" valign="top">\r<table border="0" cellspacing="2" cellpadding="1">\r\t<tr>\r\t\t<td width="480" align="center" valign="top"><font size="5"><b>Love</b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;Of the fourteen essays I\'m writing, only this one treats an emotion. That love is the most important emotion is the deduction. I think other emotions may be as important, but are not so powerfully moving or interesting to most of us. Love is exciting. There is no need to justify choosing to write about it. Are not most songs love songs? Are not most novels stories featuring love?</b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;Love in its broad sense is the feeling of strong attraction, and often attachment and protection. It is felt towards other people, towards pets, towards inanimate objects, towards abstractions such as patriotism, religious matters, hobbies, and I suppose nearly everything. It is multifaceted, and includes ordinary self-love, chivalrous love, carnal or sexual love, friendly love, family love. It is an emotion that is closely related to certain others, such as hope. At its simplest level it is what we strongly like.</b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;I have a hunch that love, like the rose, owes much of its appeal to our mainstream Western culture -- and that in some other societies it is by no means such a big deal. Somehow, especially in recent centuries, the notion of romantic love has become elevated far more than it used to be. Why this has happened is for social historians to explain; I don\'t know. I will merely say that if one reads the ancient Greeks and Romans, then it is obvious that today love is relatively more significant in our culture. A plethora of differences exist between us and people 2,000 years ago. That doesn\'t invalidate my observation that we moderns rate love more importantly now than our ancestors used to.</b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;It is presumed that sexual attraction, being instinctive, is comparatively constant over the centuries and across cultures. But let\'s be clear: sexual attraction is only one manifestation of love. One can be sexually aroused and still feel no love, just as a couple can be married and possess no mutual sexual appetite or love. Some people find they can fulfill sexual needs one way, and they love something else, such as a hobby or their work.</b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;When sexual desire, or go ahead and call it sexual need, is very strong, it certainly gets called love. To be precise it may be best termed carnal love. Similarly, a glutton loves food, and an addict perversely loves whatever drug or activity he\'s hooked on. Sexual love, then, is not necessarily anything more than an equivalent of an animal being in heat. On the other hand, if two people share a wholehearted, broad-based love for each other, then their sexual relations may be more an expression of their affection than of their instinctive drive.</b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;Yes, love and sex are too much confused. It is frightful how many beastly rapes and molestations take place, which are sexual but devoid of love completely. Love can be found thriving far from sex, as in a mother\'s love for her child, or a religious order\'s mystical love of doing glory to God, or of the knight\'s chivalrous love towards his country and rulers. The soldier\'s courage to defend his family is a kind of love in action. The artist who starves in an attic, living a celibate existence to produce masterpieces, is illuminated by love. Childhood friends who go through life together know love, though not sex, as regards each other. Have I made my point obvious?</b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;It is, I\'m sure. But I\'m on a roll and don\'t want to stop yet. Love\'s antithesis is hate. Hate is often associated with harm or destruction, even death. But again, it is not <i>equal</i> to those. It is strongly held negative emotions, even as love is strongly held positive ones.</b><br><br></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;The golden rule, &quot;Love thy neighbor as thyself,&quot; or &quot;do unto others as you would have them do unto you,&quot; helps us see that if we want people to enjoy peaceful, content existence, we must work together cooperatively, and not let our passions, of either love or hate, get us out of line.</b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;One thing I\'m sure of, is the world would be a better place if all of us individuals had someone or something we loved. I feel sorry for people who are neutral about this, indifferent regarding that, and don\'t know what really turns them on. I almost wish there was a law against having no love in one\'s life. Well, that kind of thinking is too extreme. Is it possible, without love, to be healthy in a mental sense? To be balanced? Can an individual\'s self-esteem be proper without love? It is certainly possible for a person to be <i>temporarily</i> devoid of love. For example, pick up a random individual, transport him across the planet, and set him into a strange culture, where he knows no one, he knows not a word of the language. He will be in shock, and will love no one, and probably his only love then would be of longing for his familiar life. Temporarily, his shock, his sadness, and his bewilderment will be more powerful feelings than any love he feels.</b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;Since love can be felt in so many different ways, it is a good thing our culture allows people freedom to choose. All the more wondrous that some of us seem to love nothing! What explains this? Are children who were in dysfunctional, abusive situations forced to retreat as it were into a shell, to be calloused against freely opening themselves to the flow of their emotions? Are certain people born with chemical imbalances in their brains which make it impossible for them to feel love? Are some people so prone to liking numerous things that they tend to not strongly like (<i>i.e.,</i> love) any one thing in particular?</b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;To love is to express oneself. Usually one\'s love is obviously manifested. It may be that even as some of us are generally shy and inhibited, some of us are poorer at loving. Doubtless there are complex, peculiar combinations of factors operating in every individual case. And most of our general rules or commonplace assumptions are based on behavior prevalent in our <i>culture.</i></b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;The chief motivating factor in many of our lives is love. People go to extraordinary lengths and costs to find love, or to give it, to keep it, to hope for it. In some cultures, such as primitive stone-age ones, I\'m sure that basic food gathering and survival work is more dominating than any interpretation of love other than love of continuing to <i>live.</i></b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;In my life, I prefer to give my time to being with people I love, rather than being paid to spend time working for people whom I don\'t love. Similarly, I would rather remain single and wait until I can marry a woman with whom I can share profound love, than cohabit with a woman about who I am indifferent. It is often said &quot;what really counts is that a person does what he or she loves.&quot; Yet how many of us <i>really</i> do? How many of us <i>would</i> keep doing our jobs if we didn\'t need the money? Few of us. Even if I was suddenly rich financially, I\'d still do most of what I do now; I\'d not fundamentally change.</b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;No, money won\'t alter me much. Love may. If I decide to marry a woman, and she is eager also, I would stop merely doing whatever I please, and start giving my attention equally to pleasing her. Ideally we\'d work very well together. But times would occur when we\'d disagree, so I\'d yield whenever I possibly could, out of my love and respect, and concern for our marriage.</b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;The love that motivates people to give freely their very lives is greatly inspiring. If martyrs didn\'t have love propelling them, then they at any rate had <i>strong</i> emotions. Sometimes I dream about hypothetical situations that test my love. For example, if the woman I think the very world of, asked me to give up my Seattle existence, to live with her 1,000 miles away -- would I do it? Maybe. If I figured there was good odds of living happily ever after, I might. But such questions are answered not just by deliberation, they\'re affected by emotion. Love can blind us to logic, reason and common sense. I love so many things about my life in Seattle, and there are so many eligible women here  -- that the chance of me heading out of town, loveblind, is remote. But that I <i>think</i> about such things, shows I am moved mightily by love.</b></font></td>\r\t</tr>\r\t<tr>\r\t\t<td width="480" align="left" valign="top"><font size="3"><b>&nbsp;&nbsp;&nbsp;&nbsp;I am so glad to love my work, to love my family and friends, to love my city, and to love nature. Yes, I want to also love a woman who loves me. That will come. So far it has alway been one-way rather than mutual. I\'m particular, patient, and confident. It\'s sort of a &quot;patting oneself on the back&quot; to say it, but I wish more people would show restraint about forming intimate relationships of the sort that are called marriages. Too many young folks hurry into such arrangements, and all too soon failure comes about. People think it\'s easier than it really is. Loving is often easy, but the long-term nurturing and sustaining of the love is work. I develop this theme more in my essay FAMILY.</b></font></td>\r\t</tr>\r\t<tr>\r\r</table>\r\r</td>\r\t\t<td width="125" align="center" valign="top"><br><br><br><! -- #include virtual="/includes/panel1.html" -- >\r</td>\r\t</tr>\r</table></center>\r<! -- #include virtual="/includes/footer.html" -- >\r\r</body>\r</html>\r'

In [44]:
# turning the response into a BeautifulSoup object to extract data
soup = BeautifulSoup(page.content, "html.parser")
print( soup.prettify( ) )

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>
   Essay on Love by Arthur Lee Jacobson
  </title>
  <meta content="Trees,gardening, wild and domestic plant life are the specialty of author Arthur Lee Jacobson." name="description"/>
  <meta content="trees, gardening, wild plants, domestic plants, gardening author, gardening books, Arthur Lee Jacobson, A L J, A L Jacobson, Arthur Jacobson, arthur lee, plants, flowers, seattle, washington" name="keywords"/>
  <meta content="document" name="resource-type"/>
  <meta content="BBEdit 4.5" name="generator"/>
  <meta content="all" name="robots"/>
  <meta content="Gardening" name="classification"/>
  <meta content="global" name="distribution"/>
  <meta content="general" name="rating"/>
  <meta content="2001 Arthur Lee Jacobson" name="copyright"/>
  <meta content="eriktyme@eriktyme.com" name="author"/>
  <meta content="en-us" name="language"/>
 </head>
 <body alink="#33CC33" background="images/background1a.jpg" bgcolor="#FFFFCC" link="#0000FF" text="#000000" vlink="#FF00FF">
  <!-- -- #include virtual="/includes/header.html" -- -->
  <br/>
  <center>
   <table border="0" cellpadding="1" cellspacing="2">
    <tr>
     <td align="center" valign="top" width="480">
      <table border="0" cellpadding="1" cellspacing="2">
       <tr>
        <td align="center" valign="top" width="480">
         <font size="5">
          <b>
           Love
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           Of the fourteen essays I'm writing, only this one treats an emotion. That love is the most important emotion is the deduction. I think other emotions may be as important, but are not so powerfully moving or interesting to most of us. Love is exciting. There is no need to justify choosing to write about it. Are not most songs love songs? Are not most novels stories featuring love?
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           Love in its broad sense is the feeling of strong attraction, and often attachment and protection. It is felt towards other people, towards pets, towards inanimate objects, towards abstractions such as patriotism, religious matters, hobbies, and I suppose nearly everything. It is multifaceted, and includes ordinary self-love, chivalrous love, carnal or sexual love, friendly love, family love. It is an emotion that is closely related to certain others, such as hope. At its simplest level it is what we strongly like.
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           I have a hunch that love, like the rose, owes much of its appeal to our mainstream Western culture -- and that in some other societies it is by no means such a big deal. Somehow, especially in recent centuries, the notion of romantic love has become elevated far more than it used to be. Why this has happened is for social historians to explain; I don't know. I will merely say that if one reads the ancient Greeks and Romans, then it is obvious that today love is relatively more significant in our culture. A plethora of differences exist between us and people 2,000 years ago. That doesn't invalidate my observation that we moderns rate love more importantly now than our ancestors used to.
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           It is presumed that sexual attraction, being instinctive, is comparatively constant over the centuries and across cultures. But let's be clear: sexual attraction is only one manifestation of love. One can be sexually aroused and still feel no love, just as a couple can be married and possess no mutual sexual appetite or love. Some people find they can fulfill sexual needs one way, and they love something else, such as a hobby or their work.
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           When sexual desire, or go ahead and call it sexual need, is very strong, it certainly gets called love. To be precise it may be best termed carnal love. Similarly, a glutton loves food, and an addict perversely loves whatever drug or activity he's hooked on. Sexual love, then, is not necessarily anything more than an equivalent of an animal being in heat. On the other hand, if two people share a wholehearted, broad-based love for each other, then their sexual relations may be more an expression of their affection than of their instinctive drive.
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           Yes, love and sex are too much confused. It is frightful how many beastly rapes and molestations take place, which are sexual but devoid of love completely. Love can be found thriving far from sex, as in a mother's love for her child, or a religious order's mystical love of doing glory to God, or of the knight's chivalrous love towards his country and rulers. The soldier's courage to defend his family is a kind of love in action. The artist who starves in an attic, living a celibate existence to produce masterpieces, is illuminated by love. Childhood friends who go through life together know love, though not sex, as regards each other. Have I made my point obvious?
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           It is, I'm sure. But I'm on a roll and don't want to stop yet. Love's antithesis is hate. Hate is often associated with harm or destruction, even death. But again, it is not
           <i>
            equal
           </i>
           to those. It is strongly held negative emotions, even as love is strongly held positive ones.
          </b>
          <br/>
          <br/>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           The golden rule, "Love thy neighbor as thyself," or "do unto others as you would have them do unto you," helps us see that if we want people to enjoy peaceful, content existence, we must work together cooperatively, and not let our passions, of either love or hate, get us out of line.
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           One thing I'm sure of, is the world would be a better place if all of us individuals had someone or something we loved. I feel sorry for people who are neutral about this, indifferent regarding that, and don't know what really turns them on. I almost wish there was a law against having no love in one's life. Well, that kind of thinking is too extreme. Is it possible, without love, to be healthy in a mental sense? To be balanced? Can an individual's self-esteem be proper without love? It is certainly possible for a person to be
           <i>
            temporarily
           </i>
           devoid of love. For example, pick up a random individual, transport him across the planet, and set him into a strange culture, where he knows no one, he knows not a word of the language. He will be in shock, and will love no one, and probably his only love then would be of longing for his familiar life. Temporarily, his shock, his sadness, and his bewilderment will be more powerful feelings than any love he feels.
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           Since love can be felt in so many different ways, it is a good thing our culture allows people freedom to choose. All the more wondrous that some of us seem to love nothing! What explains this? Are children who were in dysfunctional, abusive situations forced to retreat as it were into a shell, to be calloused against freely opening themselves to the flow of their emotions? Are certain people born with chemical imbalances in their brains which make it impossible for them to feel love? Are some people so prone to liking numerous things that they tend to not strongly like (
           <i>
            i.e.,
           </i>
           love) any one thing in particular?
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           To love is to express oneself. Usually one's love is obviously manifested. It may be that even as some of us are generally shy and inhibited, some of us are poorer at loving. Doubtless there are complex, peculiar combinations of factors operating in every individual case. And most of our general rules or commonplace assumptions are based on behavior prevalent in our
           <i>
            culture.
           </i>
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           The chief motivating factor in many of our lives is love. People go to extraordinary lengths and costs to find love, or to give it, to keep it, to hope for it. In some cultures, such as primitive stone-age ones, I'm sure that basic food gathering and survival work is more dominating than any interpretation of love other than love of continuing to
           <i>
            live.
           </i>
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           In my life, I prefer to give my time to being with people I love, rather than being paid to spend time working for people whom I don't love. Similarly, I would rather remain single and wait until I can marry a woman with whom I can share profound love, than cohabit with a woman about who I am indifferent. It is often said "what really counts is that a person does what he or she loves." Yet how many of us
           <i>
            really
           </i>
           do? How many of us
           <i>
            would
           </i>
           keep doing our jobs if we didn't need the money? Few of us. Even if I was suddenly rich financially, I'd still do most of what I do now; I'd not fundamentally change.
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           No, money won't alter me much. Love may. If I decide to marry a woman, and she is eager also, I would stop merely doing whatever I please, and start giving my attention equally to pleasing her. Ideally we'd work very well together. But times would occur when we'd disagree, so I'd yield whenever I possibly could, out of my love and respect, and concern for our marriage.
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           The love that motivates people to give freely their very lives is greatly inspiring. If martyrs didn't have love propelling them, then they at any rate had
           <i>
            strong
           </i>
           emotions. Sometimes I dream about hypothetical situations that test my love. For example, if the woman I think the very world of, asked me to give up my Seattle existence, to live with her 1,000 miles away -- would I do it? Maybe. If I figured there was good odds of living happily ever after, I might. But such questions are answered not just by deliberation, they're affected by emotion. Love can blind us to logic, reason and common sense. I love so many things about my life in Seattle, and there are so many eligible women here  -- that the chance of me heading out of town, loveblind, is remote. But that I
           <i>
            think
           </i>
           about such things, shows I am moved mightily by love.
          </b>
         </font>
        </td>
       </tr>
       <tr>
        <td align="left" valign="top" width="480">
         <font size="3">
          <b>
           I am so glad to love my work, to love my family and friends, to love my city, and to love nature. Yes, I want to also love a woman who loves me. That will come. So far it has alway been one-way rather than mutual. I'm particular, patient, and confident. It's sort of a "patting oneself on the back" to say it, but I wish more people would show restraint about forming intimate relationships of the sort that are called marriages. Too many young folks hurry into such arrangements, and all too soon failure comes about. People think it's easier than it really is. Loving is often easy, but the long-term nurturing and sustaining of the love is work. I develop this theme more in my essay FAMILY.
          </b>
         </font>
        </td>
       </tr>
       <tr>
       </tr>
      </table>
     </td>
     <td align="center" valign="top" width="125">
      <br/>
      <br/>
      <br/>
      <!-- -- #include virtual="/includes/panel1.html" -- -->
     </td>
    </tr>
   </table>
  </center>
  <!-- -- #include virtual="/includes/footer.html" -- -->
 </body>
</html>

In [45]:
# using the find method to scrape the text within the first bold tag
title = soup.find("b")
print(title)
print( title.get_text( ) ) # extracts all text within element

<b>Love</b>
Love

In [47]:
# get all text within the bold element tag then output each
poem_text = soup.find_all("b")
for text in poem_text:
    print( text.get_text( ) )

Love
Of the fourteen essays I'm writing, only this one treats an emotion. That love is the most important emotion is the deduction. I think other emotions may be as important, but are not so powerfully moving or interesting to most of us. Love is exciting. There is no need to justify choosing to write about it. Are not most songs love songs? Are not most novels stories featuring love?
Love in its broad sense is the feeling of strong attraction, and often attachment and protection. It is felt towards other people, towards pets, towards inanimate objects, towards abstractions such as patriotism, religious matters, hobbies, and I suppose nearly everything. It is multifaceted, and includes ordinary self-love, chivalrous love, carnal or sexual love, friendly love, family love. It is an emotion that is closely related to certain others, such as hope. At its simplest level it is what we strongly like.
I have a hunch that love, like the rose, owes much of its appeal to our mainstream Western culture -- and that in some other societies it is by no means such a big deal. Somehow, especially in recent centuries, the notion of romantic love has become elevated far more than it used to be. Why this has happened is for social historians to explain; I don't know. I will merely say that if one reads the ancient Greeks and Romans, then it is obvious that today love is relatively more significant in our culture. A plethora of differences exist between us and people 2,000 years ago. That doesn't invalidate my observation that we moderns rate love more importantly now than our ancestors used to.
It is presumed that sexual attraction, being instinctive, is comparatively constant over the centuries and across cultures. But let's be clear: sexual attraction is only one manifestation of love. One can be sexually aroused and still feel no love, just as a couple can be married and possess no mutual sexual appetite or love. Some people find they can fulfill sexual needs one way, and they love something else, such as a hobby or their work.
When sexual desire, or go ahead and call it sexual need, is very strong, it certainly gets called love. To be precise it may be best termed carnal love. Similarly, a glutton loves food, and an addict perversely loves whatever drug or activity he's hooked on. Sexual love, then, is not necessarily anything more than an equivalent of an animal being in heat. On the other hand, if two people share a wholehearted, broad-based love for each other, then their sexual relations may be more an expression of their affection than of their instinctive drive.
Yes, love and sex are too much confused. It is frightful how many beastly rapes and molestations take place, which are sexual but devoid of love completely. Love can be found thriving far from sex, as in a mother's love for her child, or a religious order's mystical love of doing glory to God, or of the knight's chivalrous love towards his country and rulers. The soldier's courage to defend his family is a kind of love in action. The artist who starves in an attic, living a celibate existence to produce masterpieces, is illuminated by love. Childhood friends who go through life together know love, though not sex, as regards each other. Have I made my point obvious?
It is, I'm sure. But I'm on a roll and don't want to stop yet. Love's antithesis is hate. Hate is often associated with harm or destruction, even death. But again, it is not equal to those. It is strongly held negative emotions, even as love is strongly held positive ones.
The golden rule, "Love thy neighbor as thyself," or "do unto others as you would have them do unto you," helps us see that if we want people to enjoy peaceful, content existence, we must work together cooperatively, and not let our passions, of either love or hate, get us out of line.
One thing I'm sure of, is the world would be a better place if all of us individuals had someone or something we loved. I feel sorry for people who are neutral about this, indifferent regarding that, and don't know what really turns them on. I almost wish there was a law against having no love in one's life. Well, that kind of thinking is too extreme. Is it possible, without love, to be healthy in a mental sense? To be balanced? Can an individual's self-esteem be proper without love? It is certainly possible for a person to be temporarily devoid of love. For example, pick up a random individual, transport him across the planet, and set him into a strange culture, where he knows no one, he knows not a word of the language. He will be in shock, and will love no one, and probably his only love then would be of longing for his familiar life. Temporarily, his shock, his sadness, and his bewilderment will be more powerful feelings than any love he feels.
Since love can be felt in so many different ways, it is a good thing our culture allows people freedom to choose. All the more wondrous that some of us seem to love nothing! What explains this? Are children who were in dysfunctional, abusive situations forced to retreat as it were into a shell, to be calloused against freely opening themselves to the flow of their emotions? Are certain people born with chemical imbalances in their brains which make it impossible for them to feel love? Are some people so prone to liking numerous things that they tend to not strongly like (i.e., love) any one thing in particular?
To love is to express oneself. Usually one's love is obviously manifested. It may be that even as some of us are generally shy and inhibited, some of us are poorer at loving. Doubtless there are complex, peculiar combinations of factors operating in every individual case. And most of our general rules or commonplace assumptions are based on behavior prevalent in our culture.
The chief motivating factor in many of our lives is love. People go to extraordinary lengths and costs to find love, or to give it, to keep it, to hope for it. In some cultures, such as primitive stone-age ones, I'm sure that basic food gathering and survival work is more dominating than any interpretation of love other than love of continuing to live.
In my life, I prefer to give my time to being with people I love, rather than being paid to spend time working for people whom I don't love. Similarly, I would rather remain single and wait until I can marry a woman with whom I can share profound love, than cohabit with a woman about who I am indifferent. It is often said "what really counts is that a person does what he or she loves." Yet how many of us really do? How many of us would keep doing our jobs if we didn't need the money? Few of us. Even if I was suddenly rich financially, I'd still do most of what I do now; I'd not fundamentally change.
No, money won't alter me much. Love may. If I decide to marry a woman, and she is eager also, I would stop merely doing whatever I please, and start giving my attention equally to pleasing her. Ideally we'd work very well together. But times would occur when we'd disagree, so I'd yield whenever I possibly could, out of my love and respect, and concern for our marriage.
The love that motivates people to give freely their very lives is greatly inspiring. If martyrs didn't have love propelling them, then they at any rate had strong emotions. Sometimes I dream about hypothetical situations that test my love. For example, if the woman I think the very world of, asked me to give up my Seattle existence, to live with her 1,000 miles away -- would I do it? Maybe. If I figured there was good odds of living happily ever after, I might. But such questions are answered not just by deliberation, they're affected by emotion. Love can blind us to logic, reason and common sense. I love so many things about my life in Seattle, and there are so many eligible women here  -- that the chance of me heading out of town, loveblind, is remote. But that I think about such things, shows I am moved mightily by love.
I am so glad to love my work, to love my family and friends, to love my city, and to love nature. Yes, I want to also love a woman who loves me. That will come. So far it has alway been one-way rather than mutual. I'm particular, patient, and confident. It's sort of a "patting oneself on the back" to say it, but I wish more people would show restraint about forming intimate relationships of the sort that are called marriages. Too many young folks hurry into such arrangements, and all too soon failure comes about. People think it's easier than it really is. Loving is often easy, but the long-term nurturing and sustaining of the love is work. I develop this theme more in my essay FAMILY.

In [48]:
# finding an element by specific attribute key-values
page = requests.get("https://github.com/Connor-SM")
soup = BeautifulSoup(page.content, "html.parser")
username = soup.find( "span", attrs={ "class" : "vcard-username" })
# find first span with this class
print(username) # will show that element has class of vcard-username among others
print( username.get_text( ) )

<span class="p-nickname vcard-username d-block" itemprop="additionalName">Connor-SM</span>
Connor-SM

In [57]:
# traversing through the DOM using Beautiful Soup  using the children attribute
page = requests.get("http://www.arthurleej.com/e-love.html")
soup = BeautifulSoup(page.content, "html.parser")
print(soup.children) # outputs an iterator object

<list_iterator object at 0x0000022DE4278F70>

In [62]:
# understanding the children within the soup object
for child in list( soup.children ):
    print( type( child ) )

<class 'bs4.element.Doctype'>
<class 'bs4.element.NavigableString'>
<class 'bs4.element.Tag'>
<class 'bs4.element.NavigableString'>

In [64]:
# accessing the .Tag object which holds the html  trying to access the title tag
html = list( soup.children )[2]
for section in html:
    print("\n\n Start of new section")
    print(section)

 Start of new section



 Start of new section
<head> <title>Essay on Love by Arthur Lee Jacobson</title> <meta content="Trees,gardening, wild and domestic plant life are the specialty of author Arthur Lee Jacobson." name="description"/> <meta content="trees, gardening, wild plants, domestic plants, gardening author, gardening books, Arthur Lee Jacobson, A L J, A L Jacobson, Arthur Jacobson, arthur lee, plants, flowers, seattle, washington" name="keywords"/> <meta content="document" name="resource-type"/> <meta content="BBEdit 4.5" name="generator"/> <meta content="all" name="robots"/> <meta content="Gardening" name="classification"/> <meta content="global" name="distribution"/> <meta content="general" name="rating"/> <meta content="2001 Arthur Lee Jacobson" name="copyright"/> <meta content="eriktyme@eriktyme.com" name="author"/> <meta content="en-us" name="language"/> </head>


 Start of new section



 Start of new section
<body alink="#33CC33" background="images/background1a.jpg" bgcolor="#FFFFCC" link="#0000FF" text="#000000" vlink="#FF00FF"> <!-- -- #include virtual="/includes/header.html" -- --> <br/><center><table border="0" cellpadding="1" cellspacing="2"> <tr> <td align="center" valign="top" width="480"> <table border="0" cellpadding="1" cellspacing="2"> <tr> <td align="center" valign="top" width="480"><font size="5"><b>Love</b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>Of the fourteen essays I'm writing, only this one treats an emotion. That love is the most important emotion is the deduction. I think other emotions may be as important, but are not so powerfully moving or interesting to most of us. Love is exciting. There is no need to justify choosing to write about it. Are not most songs love songs? Are not most novels stories featuring love?</b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>Love in its broad sense is the feeling of strong attraction, and often attachment and protection. It is felt towards other people, towards pets, towards inanimate objects, towards abstractions such as patriotism, religious matters, hobbies, and I suppose nearly everything. It is multifaceted, and includes ordinary self-love, chivalrous love, carnal or sexual love, friendly love, family love. It is an emotion that is closely related to certain others, such as hope. At its simplest level it is what we strongly like.</b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>I have a hunch that love, like the rose, owes much of its appeal to our mainstream Western culture -- and that in some other societies it is by no means such a big deal. Somehow, especially in recent centuries, the notion of romantic love has become elevated far more than it used to be. Why this has happened is for social historians to explain; I don't know. I will merely say that if one reads the ancient Greeks and Romans, then it is obvious that today love is relatively more significant in our culture. A plethora of differences exist between us and people 2,000 years ago. That doesn't invalidate my observation that we moderns rate love more importantly now than our ancestors used to.</b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>It is presumed that sexual attraction, being instinctive, is comparatively constant over the centuries and across cultures. But let's be clear: sexual attraction is only one manifestation of love. One can be sexually aroused and still feel no love, just as a couple can be married and possess no mutual sexual appetite or love. Some people find they can fulfill sexual needs one way, and they love something else, such as a hobby or their work.</b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>When sexual desire, or go ahead and call it sexual need, is very strong, it certainly gets called love. To be precise it may be best termed carnal love. Similarly, a glutton loves food, and an addict perversely loves whatever drug or activity he's hooked on. Sexual love, then, is not necessarily anything more than an equivalent of an animal being in heat. On the other hand, if two people share a wholehearted, broad-based love for each other, then their sexual relations may be more an expression of their affection than of their instinctive drive.</b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>Yes, love and sex are too much confused. It is frightful how many beastly rapes and molestations take place, which are sexual but devoid of love completely. Love can be found thriving far from sex, as in a mother's love for her child, or a religious order's mystical love of doing glory to God, or of the knight's chivalrous love towards his country and rulers. The soldier's courage to defend his family is a kind of love in action. The artist who starves in an attic, living a celibate existence to produce masterpieces, is illuminated by love. Childhood friends who go through life together know love, though not sex, as regards each other. Have I made my point obvious?</b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>It is, I'm sure. But I'm on a roll and don't want to stop yet. Love's antithesis is hate. Hate is often associated with harm or destruction, even death. But again, it is not <i>equal</i> to those. It is strongly held negative emotions, even as love is strongly held positive ones.</b><br/><br/></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>The golden rule, "Love thy neighbor as thyself," or "do unto others as you would have them do unto you," helps us see that if we want people to enjoy peaceful, content existence, we must work together cooperatively, and not let our passions, of either love or hate, get us out of line.</b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>One thing I'm sure of, is the world would be a better place if all of us individuals had someone or something we loved. I feel sorry for people who are neutral about this, indifferent regarding that, and don't know what really turns them on. I almost wish there was a law against having no love in one's life. Well, that kind of thinking is too extreme. Is it possible, without love, to be healthy in a mental sense? To be balanced? Can an individual's self-esteem be proper without love? It is certainly possible for a person to be <i>temporarily</i> devoid of love. For example, pick up a random individual, transport him across the planet, and set him into a strange culture, where he knows no one, he knows not a word of the language. He will be in shock, and will love no one, and probably his only love then would be of longing for his familiar life. Temporarily, his shock, his sadness, and his bewilderment will be more powerful feelings than any love he feels.</b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>Since love can be felt in so many different ways, it is a good thing our culture allows people freedom to choose. All the more wondrous that some of us seem to love nothing! What explains this? Are children who were in dysfunctional, abusive situations forced to retreat as it were into a shell, to be calloused against freely opening themselves to the flow of their emotions? Are certain people born with chemical imbalances in their brains which make it impossible for them to feel love? Are some people so prone to liking numerous things that they tend to not strongly like (<i>i.e.,</i> love) any one thing in particular?</b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>To love is to express oneself. Usually one's love is obviously manifested. It may be that even as some of us are generally shy and inhibited, some of us are poorer at loving. Doubtless there are complex, peculiar combinations of factors operating in every individual case. And most of our general rules or commonplace assumptions are based on behavior prevalent in our <i>culture.</i></b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>The chief motivating factor in many of our lives is love. People go to extraordinary lengths and costs to find love, or to give it, to keep it, to hope for it. In some cultures, such as primitive stone-age ones, I'm sure that basic food gathering and survival work is more dominating than any interpretation of love other than love of continuing to <i>live.</i></b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>In my life, I prefer to give my time to being with people I love, rather than being paid to spend time working for people whom I don't love. Similarly, I would rather remain single and wait until I can marry a woman with whom I can share profound love, than cohabit with a woman about who I am indifferent. It is often said "what really counts is that a person does what he or she loves." Yet how many of us <i>really</i> do? How many of us <i>would</i> keep doing our jobs if we didn't need the money? Few of us. Even if I was suddenly rich financially, I'd still do most of what I do now; I'd not fundamentally change.</b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>No, money won't alter me much. Love may. If I decide to marry a woman, and she is eager also, I would stop merely doing whatever I please, and start giving my attention equally to pleasing her. Ideally we'd work very well together. But times would occur when we'd disagree, so I'd yield whenever I possibly could, out of my love and respect, and concern for our marriage.</b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>The love that motivates people to give freely their very lives is greatly inspiring. If martyrs didn't have love propelling them, then they at any rate had <i>strong</i> emotions. Sometimes I dream about hypothetical situations that test my love. For example, if the woman I think the very world of, asked me to give up my Seattle existence, to live with her 1,000 miles away -- would I do it? Maybe. If I figured there was good odds of living happily ever after, I might. But such questions are answered not just by deliberation, they're affected by emotion. Love can blind us to logic, reason and common sense. I love so many things about my life in Seattle, and there are so many eligible women here  -- that the chance of me heading out of town, loveblind, is remote. But that I <i>think</i> about such things, shows I am moved mightily by love.</b></font></td> </tr> <tr> <td align="left" valign="top" width="480"><font size="3"><b>I am so glad to love my work, to love my family and friends, to love my city, and to love nature. Yes, I want to also love a woman who loves me. That will come. So far it has alway been one-way rather than mutual. I'm particular, patient, and confident. It's sort of a "patting oneself on the back" to say it, but I wish more people would show restraint about forming intimate relationships of the sort that are called marriages. Too many young folks hurry into such arrangements, and all too soon failure comes about. People think it's easier than it really is. Loving is often easy, but the long-term nurturing and sustaining of the love is work. I develop this theme more in my essay FAMILY.</b></font></td> </tr> <tr> </tr></table> </td> <td align="center" valign="top" width="125"><br/><br/><br/><!-- -- #include virtual="/includes/panel1.html" -- --> </td> </tr> </table></center> <!-- -- #include virtual="/includes/footer.html" -- --> </body>


 Start of new section

In [65]:
# accessing the head element using the children attribute
head = list( html.children )[1]
for item in head:
    print("\n\n New Tag")
    print(item)

 New Tag



 New Tag
<title>Essay on Love by Arthur Lee Jacobson</title>


 New Tag



 New Tag
<meta content="Trees,gardening, wild and domestic plant life are the specialty of author Arthur Lee Jacobson." name="description"/>


 New Tag



 New Tag
<meta content="trees, gardening, wild plants, domestic plants, gardening author, gardening books, Arthur Lee Jacobson, A L J, A L Jacobson, Arthur Jacobson, arthur lee, plants, flowers, seattle, washington" name="keywords"/>


 New Tag



 New Tag
<meta content="document" name="resource-type"/>


 New Tag



 New Tag
<meta content="BBEdit 4.5" name="generator"/>


 New Tag



 New Tag
<meta content="all" name="robots"/>


 New Tag



 New Tag
<meta content="Gardening" name="classification"/>


 New Tag



 New Tag
<meta content="global" name="distribution"/>


 New Tag



 New Tag
<meta content="general" name="rating"/>


 New Tag



 New Tag
<meta content="2001 Arthur Lee Jacobson" name="copyright"/>


 New Tag



 New Tag
<meta content="eriktyme@eriktyme.com" name="author"/>


 New Tag



 New Tag
<meta content="en-us" name="language"/>


 New Tag

In [66]:
# scraping the title text
title = list( head )[1]
print(title.string) # .string is used to extract text as well
print( type(title.string) ) # results in NavigableString
print( title.get_text( ) )

Essay on Love by Arthur Lee Jacobson
<class 'bs4.element.NavigableString'>
Essay on Love by Arthur Lee Jacobson